
/* open sans */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

  /* ------ global style ------ */
  :root{
    --bg-light:#FAF1E4;
    --first-color:#CEDEBD ;
    --second-color:#9EB384;
    --first-dark-color:#435334;
    --text-light-100:#CEDEBD;
    --text-light-50:#FAF1E4;
    --text-black-900:#435334;
    --text-black-700:#9EB384;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    outline: none;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;

}

ul
{
    list-style: none;
}
section{
    background: var(--text-black-50);
    margin-bottom: 50px;
    
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.hiding{
    display: none;
}
section h2.section-title{  
    font-size: 32px;
    color: var(--text-black-900);
    text-transform: capitalize;
} 
  /* go top button */
  .main-button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;

  }
  .go-top button,
  .whatsapp
  {
    border: none;
    outline: none;
    background-color: var(--text-black-900);
    color: var(--bg-light);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 22px;
    margin: 2px;
  }
  .whatsapp a{
    color: inherit;
  }
  /* cart start */
 .cart,.logIn{
    position: fixed;
    top: 0;
    left: 100%; 
    width: 500px;
    background-color: var(--first-dark-color);
    height: 100vh;
    transition: .5s;
    

}
.cart h2{
    color: var(--bg-light);
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.cart div.checkout{
    position: absolute;
    bottom: 0;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cart div.checkout div{
    background-color: var(--second-color);
    width: 100%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: var(--bg-light);
}
div.show{
    left: calc(100% - 500px); 
}
/* log in start */
.logIn .welcome{
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0px;
    color: var(--bg-light);
  
}
.logIn .close{
    width:min-content;
    padding: 10px 20px;
    font-size: 30px;
    color: var(--bg-light-100);
    font-weight: 300;
    cursor: pointer;
}
.logIn .input-fields,.btn-fields{
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.btn-fields button{
    height: 40px;
    cursor: pointer;
    font-size: 22px;

}
.logIn .input-fields .input-line{
    outline: none;
    border: none;
    background: inherit;
    margin-bottom: 10px;
    line-height: 50px;
    color: var(--text-light-100);
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 19px;
    border-bottom: 1px solid var(--bg-light);
}
  /* global end */

/* header start */
header{
    position: sticky;
    top: -90px;
    z-index: 80;
    background-color: var(--bg-light);
}
header .row{
    flex-direction: column;
   
}
header .top-header{
    text-align: center;
    width: 100%;
    background-color: var(--first-color);      
}
header .top-header h3{
    margin: 10px 0;
    font-size: 25px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
header .nav-bar{
    display:flex;
    flex-direction: column;

}
.nav-bar .top-nav{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    padding: 10px;
    gap:5px;
}
.nav-bar .top-nav .toggle-menu{
    display: none;
   
}
.nav-bar .top-nav div{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.nav-bar .top-nav i{
    font-size: 24px;
    color: var(--text-black-900);
    cursor: pointer;
    
}
.nav-bar .top-nav div.shopping{
    position: relative;
}
.nav-bar .top-nav div.shopping span{
    background-color: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text-light-100);
    position: absolute;
    top: 30px;
    left: 80%;
    padding: 3px 6px;
    font-size: 9px;
    display: none;

}

.nav-bar .top-nav div.logo img{
    width:80px;
    height: 80px;
    cursor: pointer;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    cursor: pointer; 
}.nav-bar ul li{
    margin: 0 10px;
}
.nav-bar ul li.close{
    display: none;

}
.nav-bar ul a{
    color: var(--text-black-900);
    font-weight: 900;
    font-size: 16px;
    text-transform: capitalize;
    
}
.nav-bar ul a:hover, .nav-bar ul a.active{

    
    border-bottom: 1px solid var(--first-dark-color);
}

.nav-bar ul.open{ 
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--first-dark-color);
    opacity: .9;
    text-align: center;
    transition: all .5s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 }
 .nav-bar ul.open li{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
 
 }.nav-bar ul.open li a{
    font-size: 30px;
    line-height: 50px;
    color: var(--bg-light);
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 19px;
 }

/* header end */
/* home start */
section.home-pg .row{
    position: relative;
    min-height: 850px;

}
section.home-pg .main-img {
    background-image: url(/img/landing-img.webp);
    width: 60%;
    height: 700px;
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: opacity .4s;
    position: absolute;
    right: 10%;
    top: 50px;
}section.home-pg .main-card{
    position: absolute;
    width:30%; 
    background-color: var(--bg-light);
    border-radius: 10%;
    top: 20%;
    left: 5%;
    padding: 20px 25px;
    
}section.home-pg .main-card h2{
    color: var(--text-black-900);
    font-size: 40px;
    word-break: break-word;
    
    text-transform: capitalize;
    letter-spacing: 1px;
    
}section.home-pg .main-card p{
    color: var(--text-black-700);
    letter-spacing: .3px;
    font-weight: 200;
    margin:30px 0 ;
}section.home-pg .main-card button{
    width: 60%;
    padding:15px 10px;
    background-color: var(--first-dark-color);
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--bg-light);
    font-size: 18px;
    cursor: pointer;
}section.home-pg .main-card button:hover{
    color: var(--text-black-900);
    background-color: var(--bg-light);
    border: 1px solid var(--text-black-900);
}
.main-card button a{
    color: inherit;
  }
section.home-pg .home-content{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;

   
}section.home-pg .home-content .home-card{
    background-color: #F8F0E57a;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    transition: all .3s ease; 
}.home-content .home-card .card-header{
    width: 100%;
    height: 100%; 
}
.home-content .home-card .card-header .banner-image{
    height: 200px;
    width: 100%; 
}.home-content .home-card .card-header .banner-image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);

} .home-content .home-card .card-header h1{
    color: var(--text-black-900);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;

}.home-content .home-card .card-header p{
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}.home-content .home-card .button-card{
    margin-top: 18px;
    

}.home-content .home-card:hover{
    transform: scale(1.125); 

}



/* home end */
/* store start */
.store-pg .row .main-filter h3{
    font-size:22px;
}
.store-pg .filter{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
}
.store-pg .filter .item{
    text-align: center;
    display: flex;
    flex-flow: row  nowrap;
    align-items: center;
    justify-content: center;

}
.store-pg .filter .item label{
    width: 40%;
    padding: 0 10px;
}
.store-pg .filter .item select,
.store-pg .filter .item input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-light);
    border-left:1px solid var(--text-black-900);
}.store-pg .filter .item button{
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-light);
    width: 60%;
    cursor: pointer;
}.store-pg .filter .item button:hover{
    border: 1px solid var(--text-black-900);
}
/* Card */
.content { 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
}
.content .card {
    width: 100%;
    background-color: var(--bg-light);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}.content .card .card-header{
    height: 50%;
    width: 100%;
}
.content .card .card-header img{
    width: 100%;
    height: 100%;
}
.content .card .card-body{
    padding: 15px 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    

}.content .card .card-body h3{
    color: var(--text-black-900);
    height: 40%;
    font-weight: 900;
    font-size: 24px;
    overflow: hidden;

}.content .card .card-body p{
    color: var(--text-black-700);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;

}.content .card .card-body a{
    background-color: var(--first-dark-color);
    color: var(--bg-light);
    padding: 12px 24px;
    width: 150px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;  
    cursor: pointer;
    filter: drop-shadow(0);
    transition: all .3s ease;

}.content .card .card-body a:hover{
    transform: scale(1.1);  
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    
}
/* cart */
.cart-content{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}.cart-content .card{
    width: 90%;
    min-height: 100px;
    max-height: 150px;
    border-radius: 20px 15px;
    overflow: hidden;
    display: flex;
    flex-flow:nowrap row ;
    background-color: var(--bg-light);
    margin-top: 10px;

}.cart-content .card .card-header{
    width: 50%;
    height: 100%;

}.cart-content .card .card-header img{
    width: 100%;
    height: 100%;

}.cart-content .card .card-body{
    width: 50%;
    height: 100%;
    
    

}.cart-content .card .card-body h3{
    color: var(--text-black-900);
    height: 40%;
    font-weight: 900;
    font-size: 24px;
    overflow: hidden;
    margin-left: 15px;

}.cart-content .card .card-body p{
    color: var(--text-black-700);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 15px;
    height: 30%;

}.cart-content .card .card-body a{
    background-color: var(--second-color);
    color: var(--text-light-50);
    display: block;
    width: 100%;
    height:30% ;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;  
    cursor: pointer;
}.cart-content .card .card-body a:hover{
    background-color: var(--first-dark-color);
    color: var(--bg-light);
}

/* store end */
/* collection start */
.collection-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;

}
.collection-content .collection-card{
    width: 100%;
}
.collection-content .collection-card a{
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    border-radius:0 20% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: all .5s ease;
}.collection-content .collection-card a:hover{
    border-radius:20% 0 20% 0%;
}
.collection-content .collection-card a:hover .card-header img{
     transform: scale(.9);
    
}
.collection-content .collection-card .card-header{
    height: 80%;
    width: 100%;


}.collection-content .collection-card .card-header img{
    height: 100%;
    width: 100%;
    transform: scale(.8);
    transition: all .5s ease;

}.collection-content .collection-card .card-body{
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-color: var(--text-light-50);


}.collection-content .collection-card .card-body h3{
    color: var(--text-black-900);
    font-weight: 900;
    font-size: 24px;


}


/* collection end */

/* footer start */
footer{
background-color: var(--bg-light);
margin-top: 50px;
}
footer .row{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--text-black-700);
}
footer .row h1{
    font-size: 40px;
    margin: 20px 0;
    text-transform: capitalize;
    color: var(--text-black-900);
}
footer .row h4{
    margin: 10px 0;
    text-transform: capitalize;
    color: var(--text-black-700);
}
footer .row .input-email{
    background-color: var(--text-light-100);
    padding: 0 8px;
    margin: 20px 0;
    color: var(--text-black-900);

}footer .row .input-email i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
footer .row input{
    padding: 10px 8px;
    width: 250px;
    border: none;
    background-color: inherit;
}footer .row{
    color: var(--text-black-700);
    font-size: 16px;
}footer .copyright{
    margin-top:20px;
    font-size: 16px;
    color: var(--text-black-700);

}
/* footer end */
/* ---------MEDIA--------- */
@media (max-width:1100px) {
    .container{
        max-width: 1000px;
    }
    
}

@media (max-width:800px){
    /* global */
    .cart,.logIn{
        width: 100vw;
    }
    .cart.show,.logIn.show{
        left: 0;
    }
  /* nav bar */
  .nav-bar .top-nav .toggle-menu{
    display:inline;  
}
.nav-bar ul{
    display: none;
}
.nav-bar ul li.close{
    display: block;
}
    /* home */
 
 section.home-pg .main-img{
    width: 90%;
    height: 60%;
    left: 5%;
 }
 section.home-pg .main-card{
    width:80%;
    left: 10%;
    top: 60%;
 }section.home-pg .main-card p{
    margin: 10px 0;
 }
 section.home-pg .home-content, .content ,.collection-content{
    grid-template-columns: repeat(2,1fr);
 }
/* store */
.store-pg .filter{
    grid-template-columns: repeat(2, 1fr);
}
 
}
@media (max-width:600px){
    /* home and content   collection*/
    section.home-pg .home-content, .content ,.collection-content{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 15px;
     }
  
}
/* store */

